.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  background-color: black;
  width: 70%;
  margin: 0 auto;
  padding: 5%;
  font-size: 4rem;
  gap: 10px;
  grid-template-areas:
    "div1 div2 div3 div4"
    "div5 div6 div7 div8"
    "div9 div10 div11 div12"
    "div13 div14 div15 div16";
}

@media screen and (min-width: 1px) and (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-color: black;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    font-size: 4rem;
    gap: 10px;
    grid-template-areas:
      "div1 div1 div1 div1"
      "div2 div2 div2 div2"
      "div3 div3 div3 div3"
      "div4 div4 div4 div4"
      "div5 div5 div5 div5"
      "div6 div6 div6 div6"
      "div7 div7 div7 div7"
      "div8 div8 div8 div8"
      "div9 div9 div9 div9"
      "div10 div10 div10 div10"
      "div11 div11 div11 div11"
      "div12 div12 div12 div12"
      "div13 div13 div13 div13"
      "div14 div14 div14 div14"
      "div15 div15 div15 div15"
      "div16 div16 div16 div16";
  }
}
@media screen and (min-width: 481px) and (max-width: 760px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-color: black;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    font-size: 4rem;
    gap: 10px;
    grid-template-areas:
      "div1 div1 div2 div2"
      "div3 div3 div4 div4"
      "div5 div5 div6 div6"
      "div7 div7 div8 div8"
      "div9 div9 div10 div10"
      "div11 div11 div12 div12"
      "div13 div13 div14 div14"
      "div15 div15 div16 div16";
  }
}
@media screen and (min-width: 761px) and (max-width: 920px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-color: black;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    font-size: 4rem;
    gap: 10px;
    grid-template-areas:
      "div1 div2 div3 div3"
      "div4 div5 div6 div6 "
      "div7 div8 div9 div9 "
      "div10 div11 div12 div12 "
      "div13 div14 div15 div15 "
      "div16 div16 div16 div16";
  }
}
.div1 {
  grid-area: div1;
  background-color: red;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div2 {
  grid-area: div2;
  background-color: blue;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div3 {
  grid-area: div3;
  background-color: green;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div4 {
  grid-area: div4;
  background-color: yellow;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div5 {
  grid-area: div5;
  background-color: gray;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div6 {
  grid-area: div6;
  background-color: orange;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div7 {
  grid-area: div7;
  background-color: purple;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div8 {
  grid-area: div8;
  background-color: brown;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div9 {
  grid-area: div9;
  background-color: red;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div10 {
  grid-area: div10;
  background-color: blue;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div11 {
  grid-area: div11;
  background-color: green;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div12 {
  grid-area: div12;
  background-color: yellow;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div13 {
  grid-area: div13;
  background-color: gray;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div14 {
  grid-area: div14;
  background-color: orange;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div15 {
  grid-area: div15;
  background-color: purple;
  display: grid;
  justify-content: center;
  align-items: center;
}
.div16 {
  grid-area: div16;
  background-color: brown;
  display: grid;
  justify-content: center;
  align-items: center;
}
